body{
  background-color: #000000;
  min-width: 400px;
}

.game-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game-container h1{
  color: #00bfff;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  height: 100%;
  border: 5px solid #4d87f3;
  background-color: black;
  padding: 0 2.5px 5px 2.5px;
}

.card {
  display: flex;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin: 5px 0 0 0;
  background-color: #4d87f3;
  cursor: pointer;
}

.card.flippedA {
  background-color: #0022ff;
}
.card.flippedB {
  background-color: #00ff59;
}
.card.flippedC {
  background-color: #ff00a6;
}
.card.flippedD {
  background-color: #ff0015;
}
.card.flippedE {
  background-color: #686767;
}
.card.flippedF {
  background-color: #ffff00;
}
.card.flippedG {
  background-color: #000b52;
}
.card.flippedH {
  background-color: #00531d;
}
.card.flippedI {
  background-color: #6e0048;
}
.card.flippedJ {
  background-color: #570007;
}
.card.flippedK {
  background-color: #292929;
}
.card.flippedL {
  background-color: #5f5f00;
}

.game-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-size: 24px;
}

.score {
  color: #00bfff;
  margin-bottom: 10px;
}

.win {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 150px;
  background-color: #000000;
  display: none;
}

.restart-button, .win-h2, .scoreWin {
  text-align: center;
  padding: 10px 20px;
  font-size: 24px;
  background-color: #85adf6;
  color: #2672ff;
  border: none;
  border-radius: 3%;
  width: 50%;
}

.restart-button {
  cursor: pointer;
}
.active{
  display: block;
}
